<a href="https://colab.research.google.com/github/juniorliu95/NLP_practice/blob/main/NLP_1_classification_with_logistic.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# import libraries

In [1]:
# import necessary libraries
import os
import re
import numpy as np
import pandas as pd

import nltk
nltk.download('punkt')

[nltk_data] Downloading package punkt to /root/nltk_data...
[nltk_data]   Unzipping tokenizers/punkt.zip.

True

# load dataset

In [2]:
train_data = pd.read_csv('/content/drive/MyDrive/My_folder/NLP/movie_reviews/train.tsv',sep='\t')
test_data = pd.read_csv('/content/drive/MyDrive/My_folder/NLP/movie_reviews/test.tsv',sep='\t')

In [ ]:
# train_data.describe()
train_data.head()

   PhraseId  ...  Sentiment
0         1  ...          1
1         2  ...          2
2         3  ...          2
3         4  ...          2
4         5  ...          2

[5 rows x 4 columns]

In [ ]:
# test_data.describe()
test_data.head()

   PhraseId  SentenceId                                             Phrase
0    156061        8545  An intermittently pleasing but mostly routine ...
1    156062        8545  An intermittently pleasing but mostly routine ...
2    156063        8545                                                 An
3    156064        8545  intermittently pleasing but mostly routine effort
4    156065        8545         intermittently pleasing but mostly routine

# Tokenization

In [ ]:
nltk.tokenize.word_tokenize(train_data.Phrase[0])

['A',
 'series',
 'of',
 'escapades',
 'demonstrating',
 'the',
 'adage',
 'that',
 'what',
 'is',
 'good',
 'for',
 'the',
 'goose',
 'is',
 'also',
 'good',
 'for',
 'the',
 'gander',
 ',',
 'some',
 'of',
 'which',
 'occasionally',
 'amuses',
 'but',
 'none',
 'of',
 'which',
 'amounts',
 'to',
 'much',
 'of',
 'a',
 'story',
 '.']

## Bag of words (BOW) model

First get the tokens.

In [3]:
from nltk.corpus import stopwords
nltk.download('stopwords')
stwords = set(stopwords.words('english'))

[nltk_data] Downloading package stopwords to /root/nltk_data...
[nltk_data]   Unzipping corpora/stopwords.zip.

In [4]:
def word_extraction(sentence, stopwords):    
  ignore = list(stopwords)  
  words = nltk.tokenize.word_tokenize(sentence)
  cleaned_text = [w.lower() for w in words if w not in ignore]    
  return cleaned_text

In [6]:
def tokenize(sentences, stopwords):    
  words = []    
  for sentence in sentences:        
    w = word_extraction(sentence, stopwords)        
    words.extend(w)            
  words = sorted(list(set(words)))    
  return words

In [7]:
all_sentence = list(train_data.Phrase)
tokens = tokenize(all_sentence, stwords)

In [9]:
len(tokens)

15253

Then get the BOW

In [ ]:
def get_bow(toekens, sentence):